---
export const prerender = false;

import BaseLayout from "../../../../layouts/BaseLayout.astro";
import IndexLinks from "../../../../components/IndexLinks/IndexLinks.astro";
import Pagination from "../../../../components/Pagination/Pagination.astro";
import {
  getArchiveStats,
  getMonthSlug,
} from "../../../../utils/guestbook-display.js";
import { getGermanMonthName } from "../../../../utils/german-dates.js";
import ArchiveNav from "../../../../components/ArchiveNav/ArchiveNav.astro";

const { year: yearSlug } = Astro.params;
// TODO: error handling for invalid years

const year = parseInt(yearSlug!);

const archiveStats = await getArchiveStats();

const yearCounts = archiveStats.getYearCounts();
const currentYearIndex = yearCounts.findIndex(
  (yearCount) => yearCount.year === year,
);

const entriesCount = archiveStats.getYearEntriesCount(year);

if (year < new Date().getUTCFullYear()) {
  // Archive for a past year, so it won't change:

  // Tell CDNs to cache this page for a year
  Astro.response.headers.set(
    "CDN-Cache-Control",
    "public, max-age=31536000, must-revalidate",
  );
} else {
  // Current year, so same caching as main archive page:

  // Tell CDNs to cache the archive page for 1 day
  // BUT to continue serving cached copy, but
  // revalidating in background, for another week
  Astro.response.headers.set(
    "CDN-Cache-Control",
    "public, max-age=86400, stale-while-revalidate=604800",
  );
}
---

<BaseLayout
  title={`Abi1 - Gästebuch Archiv für ${year}`}
  heading={`Gästebuch Archiv für ${year}`}
  currentNavLinkIndex={1}
  pageNavAllLinks
>
  <p>
    In diesem Jahr wurden {
      entriesCount > 1
        ? `wurden insgesamt ${entriesCount} Einträge`
        : "wurde nur ein Eintrag"
    } ins <a href="/gaestebuch/"
      ><acronym title="Deutsche Schule London">DSL</acronym> Abi1 Gästebuch</a
    > geschrieben. Durch die folgenden Links können Sie die Einträge für die einzelnen
    Monate lesen:
  </p>

  <IndexLinks
    items={archiveStats.getPaddedMonthCounts(year).map((monthCount) => ({
      text: getGermanMonthName(monthCount.month),
      href:
        monthCount.entriesCount > 0
          ? `./${getMonthSlug(monthCount.month)}/`
          : undefined,
      description:
        monthCount.entriesCount > 0
          ? `(${monthCount.entriesCount} ${monthCount.entriesCount > 1 ? "Einträge)" : "Eintrag)"}`
          : "(Keine Einträge)",
    }))}
  />

  <p class="clear separator-above">
    Naheliegende Jahre im <a href="/gaestebuch/"
      ><acronym title="Deutsche Schule London">DSL</acronym> Abi1 Gästebuch</a
    > Archiv:
  </p>

  <Pagination
    pageCount={yearCounts.length}
    pageCurrentIndex={currentYearIndex}
    pageLinkFn={(yearIndex) => ({
      href: `../${yearCounts[yearIndex]!.year}/`,
      text: yearCounts[yearIndex]!.year,
    })}
  />

  <div id="secondary">
    <div class="box">
      <ArchiveNav
        up={{ text: "Gesamtes Gästebuch Archiv", href: "../" }}
        prev={currentYearIndex > 0
          ? {
              text: yearCounts[currentYearIndex - 1]!.year,
              href: `../${yearCounts[currentYearIndex - 1]!.year}/`,
            }
          : undefined}
        next={currentYearIndex < yearCounts.length - 1
          ? {
              text: yearCounts[currentYearIndex + 1]!.year,
              href: `../${yearCounts[currentYearIndex + 1]!.year}/`,
            }
          : undefined}
      />
      <p class="data">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </p>
    </div>
  </div>
</BaseLayout>
