---
import BaseLayout from "../../layouts/BaseLayout.astro";
import GuestbookComment from "../../components/GuestbookComment/GuestbookComment.astro";
import Pagination from "../../components/Pagination/Pagination.astro";
import { fetchEntries } from "../../utils/guestbook-display.js";
import { type RequiredLink } from "../../types/links.js";
import ArchiveNav from "../../components/ArchiveNav/ArchiveNav.astro";
import GuestbookForm from "../../components/GuestbookForm/GuestbookForm.astro";
import {
  parseGuestbookEntryFormData,
  type GuestbookEntrySubmission,
} from "../../components/GuestbookForm/guestbookEntrySubmissionSchema.js";
import { addEntry } from "../../utils/guestbook-entry.js";

export const prerender = false;
const { page: pageSlug } = Astro.params;

// ==== Handle new submissions ====
const cookieName = "guestbook-defaults";
type GuestbookEntryDefaults = Pick<
  GuestbookEntrySubmission,
  "name" | "remember" | "iconType" | "builtinIcon" | "gravatarEmail"
>;

function encodeGuestbookDefaults({
  name,
  remember,
  iconType,
  builtinIcon,
  gravatarEmail,
}: GuestbookEntrySubmission): string {
  const defaults: GuestbookEntryDefaults = {
    name: remember ? name : "",
    remember,
    iconType: remember ? iconType : "builtin",
    builtinIcon: remember ? builtinIcon : undefined,
    gravatarEmail: remember ? gravatarEmail : undefined,
  };

  return JSON.stringify(defaults);
}

function decodeGuestbookDefaults(
  cookieValue?: string,
): GuestbookEntryDefaults | undefined {
  if (cookieValue) {
    return JSON.parse(cookieValue) as GuestbookEntryDefaults;
  }
  return undefined;
}

if (Astro.request.method === "POST") {
  try {
    // Only /gaestebuch/ is a valid endpoint for POSTing
    // new guestbook entries
    if (pageSlug !== undefined) {
      return Astro.rewrite("/404");
    }

    // validate form data
    const data = await Astro.request.formData();
    const guestbookEntrySubmission = parseGuestbookEntryFormData(data);

    // Save preferences to cookie
    Astro.cookies.set(
      cookieName,
      encodeGuestbookDefaults(guestbookEntrySubmission),
      {
        maxAge: 60 * 60 * 24 * 100, // 100 days
      },
    );

    // Ok --> check if spam
    //    Not spam --> insert into DB, redirect back to guestbook

    //    Maybe spam --> insert into moderation queue, redirect
    //                   back to guestbook (but display message
    //                   that comment is awaiting moderation)
    //    Spam --> redirect back to guestbook (but display message
    //             saying comment was rejected)

    await addEntry(guestbookEntrySubmission);

    // Redirect back to guestbook page to prevent form resubmission
    // if user reloads page
    return Astro.redirect(Astro.url.pathname, 303);
  } catch (error) {
    if (error instanceof Error) {
      // Invalid --> display page with error messages in form
      console.error(error.message);
      throw error;
    }
  }
}

// ==== Display of guestbook pages... ====

// Only "" (pageSlug = undefined) and "seite[number]" are valid routes
const pageSlugRegex = /^seite(\d+)$/;
if (pageSlug !== undefined && !pageSlugRegex.test(pageSlug)) {
  return Astro.rewrite("/404");
}

const guestbookFormDefaults: GuestbookEntryDefaults | undefined =
  Astro.cookies.has(cookieName)
    ? decodeGuestbookDefaults(Astro.cookies.get(cookieName)?.value)
    : { name: "", remember: true, iconType: "builtin" };

const pageSlugNumber =
  pageSlug === undefined ? undefined : parseInt(pageSlug.substring(5));

if (pageSlugNumber === 1) {
  // ./seite1 --> ./ (permanent)
  return Astro.redirect("./", 301);
}

const pageCurrentIndex = pageSlugNumber === undefined ? 0 : pageSlugNumber - 1;
const entriesPerPage = 10;

const entriesOffset = pageCurrentIndex * entriesPerPage;

const { entries, entriesCount } = await fetchEntries(
  entriesPerPage,
  entriesOffset,
);

const pageCount = Math.ceil(entriesCount / entriesPerPage);

function getPageLink(pageIndex: number): RequiredLink {
  if (pageIndex === 0) {
    return { href: "./", text: `Seite ${pageIndex + 1}` };
  } else {
    return { href: `./seite${pageIndex + 1}`, text: `Seite ${pageIndex + 1}` };
  }
}

if (pageCurrentIndex < 0 || pageCurrentIndex >= pageCount) {
  // invalid pageIndex
  return Astro.rewrite("/404");
}

const isFirstPage = pageCurrentIndex === 0;
const isLastPage = pageCurrentIndex === pageCount - 1;
---

<BaseLayout
  title={`Abi1 - Gästebuch${
    pageCurrentIndex > 0 ? ` (Seite ${pageCurrentIndex + 1})` : ""
  }`}
  heading="Gästebuch"
  currentNavLinkIndex={1}
  pageNavAllLinks={pageCurrentIndex !== 0}
>
  <Fragment slot="head-content">
    {pageCurrentIndex !== 0 && <meta name="robots" content="noindex" />}
  </Fragment>
  <Fragment slot="sub-heading"
    >Seite {pageCurrentIndex + 1} von {pageCount}</Fragment
  >

  <h2 class="hidden">Neuer Eintrag</h2>
  {isFirstPage ? <GuestbookForm formValues={guestbookFormDefaults} /> : null}

  <h2 class="hidden">Einträge</h2>
  {entries.map((entry) => <GuestbookComment {...entry} />)}

  <Pagination
    pageCount={pageCount}
    pageCurrentIndex={pageCurrentIndex}
    pageLinkFn={getPageLink}
    maxLinks={9}
  />

  <div slot="secondary" class="box">
    <ArchiveNav
      prev={!isFirstPage
        ? {
            text: "Neuere Einträge",
            href: getPageLink(pageCurrentIndex - 1).href,
          }
        : undefined}
      next={!isLastPage
        ? {
            text: "Ältere Einträge",
            href: getPageLink(pageCurrentIndex + 1).href,
          }
        : undefined}
    />
    <p class="data">
      Einträge {entriesOffset + 1} bis {entriesOffset + entriesPerPage}
    </p>
    <p class="data">{entriesCount} Einträge insgesamt.</p>
  </div>

  <div slot="secondary" class="box">
    <h2 class="top">Archiv</h2>
    <p>
      <a href="./archiv/">Zum Gästebuch Archiv</a>. <strong>Ramsey:</strong> Das Archiv
      ist noch nicht fertig!! :P
    </p>
    <p>
      Curabitur at lorem. Sed sollicitudin dolor. Integer elit nibh, euismod sit
      amet, viverra sed, tristique at, tellus. Donec mollis.
    </p>
  </div>
</BaseLayout>
