---
import BaseLayout from "../../layouts/BaseLayout.astro";
import GuestbookComment from "../../components/GuestbookComment/GuestbookComment.astro";
import Pagination from "../../components/Pagination/Pagination.astro";
import { fetchEntries } from "../../utils/guestbook.js";
import { type RequiredLink } from "../../types/links.js";
import ArchiveNav from "../../components/ArchiveNav/ArchiveNav.astro";
import GuestbookForm from "../../components/GuestbookForm/GuestbookForm.astro";

export const prerender = false;

const { page: pageSlug } = Astro.params;
// Only "" (pageSlug = undefined) and "seite[number]" are valid routes
const pageSlugRegex = /^seite(\d+)$/;
if (pageSlug !== undefined && !pageSlugRegex.test(pageSlug)) {
  return Astro.rewrite("/404");
}

const pageSlugNumber =
  pageSlug === undefined ? undefined : parseInt(pageSlug.substring(5));

if (pageSlugNumber === 1) {
  // ./seite1 --> ./ (permanent)
  return Astro.redirect("./", 301);
}

const pageCurrentIndex = pageSlugNumber === undefined ? 0 : pageSlugNumber - 1;
const entriesPerPage = 10;

const entriesOffset = pageCurrentIndex * entriesPerPage;

const { entries, entriesCount } = await fetchEntries(
  entriesPerPage,
  entriesOffset,
);

const pageCount = Math.ceil(entriesCount / entriesPerPage);

function getPageLink(pageIndex: number): RequiredLink {
  if (pageIndex === 0) {
    return { href: "./", text: `Seite ${pageIndex + 1}` };
  } else {
    return { href: `./seite${pageIndex + 1}`, text: `Seite ${pageIndex + 1}` };
  }
}

if (pageCurrentIndex < 0 || pageCurrentIndex >= pageCount) {
  // invalid pageIndex
  return Astro.rewrite("/404");
}

const isFirstPage = pageCurrentIndex === 0;
const isLastPage = pageCurrentIndex === pageCount - 1;
---

<BaseLayout
  title={`Abi1 - Gästebuch${
    pageCurrentIndex > 0 ? ` (Seite ${pageCurrentIndex + 1})` : ""
  }`}
  heading="Gästebuch"
  currentNavLinkIndex={1}
  pageNavAllLinks={pageCurrentIndex !== 0}
>
  <Fragment slot="head-content">
    {pageCurrentIndex !== 0 && <meta name="robots" content="noindex" />}
  </Fragment>
  <Fragment slot="sub-heading"
    >Seite {pageCurrentIndex + 1} von {pageCount}</Fragment
  >

  <h2 class="hidden">Neuer Eintrag</h2>
  <GuestbookForm />

  <h2 class="hidden">Einträge</h2>
  {entries.map((entry) => <GuestbookComment {...entry} />)}

  <Pagination
    pageCount={pageCount}
    pageCurrentIndex={pageCurrentIndex}
    pageLinkFn={getPageLink}
    maxLinks={9}
  />

  <div slot="secondary" class="box">
    <ArchiveNav
      prev={!isFirstPage
        ? {
            text: "Neuere Einträge",
            href: getPageLink(pageCurrentIndex - 1).href,
          }
        : undefined}
      next={!isLastPage
        ? {
            text: "Ältere Einträge",
            href: getPageLink(pageCurrentIndex + 1).href,
          }
        : undefined}
    />
    <p class="data">
      Einträge {entriesOffset + 1} bis {entriesOffset + entriesPerPage}
    </p>
    <p class="data">{entriesCount} Einträge insgesamt.</p>
  </div>

  <div slot="secondary" class="box">
    <h2 class="top">Archiv</h2>
    <p>
      <a href="./archiv/">Zum Gästebuch Archiv</a>. <strong>Ramsey:</strong> Das Archiv
      ist noch nicht fertig!! :P
    </p>
    <p>
      Curabitur at lorem. Sed sollicitudin dolor. Integer elit nibh, euismod sit
      amet, viverra sed, tristique at, tellus. Donec mollis.
    </p>
  </div>
</BaseLayout>
