---
export const prerender = false;

import BaseLayout from "../../layouts/BaseLayout.astro";
import GuestbookComment from "../../components/GuestbookComment/GuestbookComment.astro";
import Pagination, {
  type PageLink,
} from "../../components/Pagination/Pagination.astro";
import { fetchEntries } from "../../utils/guestbook.js";

const { page: pageSlug } = Astro.params;
// TODO: error handling for invalid slugs
//const pageNumberRegex = /^seite(\d+)$/;

const pageSlugNumber =
  pageSlug === undefined ? undefined : parseInt(pageSlug.substring(5));

if (pageSlugNumber === 1) {
  // ./seite1 --> ./ (permanent)
  return Astro.redirect("./", 301);
}

const pageCurrentIndex = pageSlugNumber === undefined ? 0 : pageSlugNumber - 1;
const entriesPerPage = 10;

const entriesOffset = pageCurrentIndex * entriesPerPage;

const { entries, entriesCount } = await fetchEntries(
  entriesPerPage,
  entriesOffset,
);

const pageCount = Math.ceil(entriesCount / entriesPerPage);

function getPageLink(pageIndex: number): PageLink {
  if (pageIndex === 0) {
    return { href: "./", label: `Seite ${pageIndex + 1}` };
  } else {
    return { href: "./", label: `Seite ${pageIndex + 1}` };
  }
}

const isFirstPage = pageCurrentIndex === 0;
const isLastPage = pageCurrentIndex === pageCount - 1;
---

<BaseLayout
  title={`Abi1 - Gästebuch${
    pageCurrentIndex > 0 ? ` (Seite ${pageCurrentIndex + 1})` : ""
  }`}
  heading="Gästebuch"
  currentNavLinkIndex={1}
  pageNavAllLinks={pageCurrentIndex !== 0}
>
  <Fragment slot="head-content">
    {pageCurrentIndex !== 0 && <meta name="robots" content="noindex" />}
  </Fragment>
  <Fragment slot="sub-heading"
    >Seite {pageCurrentIndex + 1} von {pageCount}</Fragment
  >

  <!--TODO: Implement posting
  <h2 class="hidden">Neuer Eintrag</h2>
  <form method="post" action="./" id="gb-entry-form" accept-charset="utf-8">
    <dl>
      <dt><label for="gb-name">Name:</label></dt>
      <dd class="basic"><input type="text" name="gb-name" id="gb-name" /></dd>
      <dd class="advanced sep-after">
        <input type="checkbox" name="gb-remember" id="gb-remember" />
        <label for="gb-remember">Name und Icon fürs nächste Mal merken</label>
      </dd>

      <dt id="gb-icon-root-label">Icon:</dt>
      <dd id="gb-icon-root-controls" class="sep-after">
        <dl>
          <dt>
            <input type="radio" name="gb-icon-type" id="gb-icon-type-builtin" />
            <label for="gb-icon-type-builtin">Abi1 Icon verwenden:</label>
          </dt>
          <dd>
            <label for="gb-icon">Icon:</label>
            <select name="gb-icon" id="gb-icon"> </select> / <button
              type="button">Icon Vorschau</button
            >
          </dd>

          <dt>
            <input
              type="radio"
              name="gb-icon-type"
              id="gb-icon-type-gravatar"
            />
            <label for="gb-icon-type-gravatar"
              >Eigenes <a href="http://www.gravatar.com/">Gravatar</a> Icon verwenden:</label
            >
          </dt>
          <dd>
            <label for="gb-grav-email">Gravatar Email:</label>
            <input type="text" id="gb-grav-email" name="gb-grav-email" />
          </dd>
        </dl>
      </dd>

      <dt><label for="gb-comment">Beitrag:</label></dt>
      <dd class="basic">
        <textarea cols="50" rows="8" name="gb-comment" id="gb-comment"
        ></textarea>
      </dd>
    </dl>
    <div>
      <button id="gb-submit-button" name="gb-submit"> Eintragen </button>
    </div>
  </form>
  -->

  <h2 class="hidden">Einträge</h2>
  {entries.map((entry) => <GuestbookComment {...entry} />)}

  <Pagination
    pageCount={pageCount}
    pageCurrentIndex={pageCurrentIndex}
    pageLinkFn={getPageLink}
    maxLinks={9}
  />

  <div slot="secondary" class="box">
    <ul class="navigation">
      {
        !isFirstPage && (
          <li class="prev">
            <a href={getPageLink(pageCurrentIndex - 1).href}>Neuere Einträge</a>
          </li>
        )
      }
      {
        !isLastPage && (
          <li class="next">
            <a href={getPageLink(pageCurrentIndex + 1).href}>Ältere Einträge</a>
          </li>
        )
      }
    </ul>
    <p class="data">
      Einträge {entriesOffset + 1} bis {entriesOffset + entriesPerPage}
    </p>
    <p class="data">{entriesCount} Einträge insgesamt.</p>
  </div>

  <div slot="secondary" class="box">
    <h2 class="top">Archiv</h2>
    <p>
      <a href="./archiv/">Zum Gästebuch Archiv</a>. <strong>Ramsey:</strong> Das Archiv
      ist noch nicht fertig!! :P
    </p>
    <p>
      Curabitur at lorem. Sed sollicitudin dolor. Integer elit nibh, euismod sit
      amet, viverra sed, tristique at, tellus. Donec mollis.
    </p>
  </div>
</BaseLayout>
