---
import { type OptionalLink } from "../../types/links.js";

export interface IndexLink extends OptionalLink {
  description?: string;
}

export interface Props {
  items: IndexLink[];
}

const { items } = Astro.props;
---

<ul id="archive">
  {
    items.map((item) =>
      item.href === undefined ? (
        <li>
          <span>{item.text}</span>
          {item.description}
        </li>
      ) : (
        <li>
          <a href={item.href}>{item.text}</a>
          {item.description}
        </li>
      ),
    )
  }
</ul>
