---
import Icon from "../Icon/Icon.astro";
import { type GuestbookEntry } from "../../utils/guestbook.js";
import {
  getGermanMonthName,
  getGermanWeekdayName,
} from "../../utils/german-dates.js";

export interface Props extends GuestbookEntry {}

const { permalink, iconCustomUrl, iconFilename, iconAlt, name, date, comment } =
  Astro.props;

function formatData(date: Date): string {
  return `${getGermanWeekdayName(date)}, ${date.getUTCDate()}. ${getGermanMonthName(date)} ${date.getUTCFullYear()} ${date.toUTCString().substring(17, 25)}`;
}

const paragraphBreakRegex = /[\n\r]{2,}/g;
const lineBreakRegex = /[\n\r]/g;
---

<div class="comment box">
  <p class="title">
    <Icon customUrl={iconCustomUrl} filename={iconFilename} alt={iconAlt} />
    <strong>{name}</strong> schrieb am {
      permalink === undefined ? (
        <time datetime={date.toISOString()}>{formatData(date)}</time>
      ) : (
        <a href={permalink} rel="bookmark">
          <time datetime={date.toISOString()}>{formatData(date)}</time>
        </a>
      )
    }
  </p>
  {
    comment
      .split(paragraphBreakRegex)
      .map((paragraphText) =>
        paragraphText.split(lineBreakRegex).map((line, i) =>
          i === 0 ? (
            line.trim()
          ) : (
            <>
              <br />
              {line.trim()}
            </>
          ),
        ),
      )
      .map((para) => <p>{para}</p>)
  }
</div>
