---
import { getIcons, type IconData } from "../../utils/icons.js";
import { type GuestbookEntrySubmission } from "./guestbookEntrySubmissionSchema.js";

export interface Props {
  formValues?: Partial<GuestbookEntrySubmission>;
}

const { formValues } = Astro.props;

const iconsByCategory: { [category: string]: IconData[] } = (await getIcons())
  .sort((a, b) => {
    if (a.categoryName !== b.categoryName) {
      return a.categoryName.localeCompare(b.categoryName);
    }
    return a.name.localeCompare(b.name);
  })
  .reduce(
    (iconsByCategoryAccumulator, iconData) => {
      const categoryIcons =
        iconsByCategoryAccumulator[iconData.categoryName] ?? [];
      categoryIcons.push(iconData);
      iconsByCategoryAccumulator[iconData.categoryName] = categoryIcons;
      return iconsByCategoryAccumulator;
    },
    {} as { [category: string]: IconData[] },
  );
---

<form method="post" action="/gaestebuch/" accept-charset="utf-8">
  <dl>
    <dt><label for="gb-name">Name:</label></dt>
    <dd class="basic">
      <input
        type="text"
        name="name"
        id="gb-name"
        required
        value={formValues?.name}
      />
    </dd>
    <dd class="advanced sep-after">
      <input
        type="checkbox"
        name="remember"
        id="gb-remember"
        checked={formValues?.remember}
      />
      <label for="gb-remember">Name und Icon fürs nächste Mal merken</label>
    </dd>

    <dt id="gb-icon-root-label">Icon:</dt>
    <dd id="gb-icon-root-controls" class="sep-after">
      <dl>
        <dt>
          <input
            type="radio"
            required
            name="iconType"
            value="builtin"
            id="gb-icon-type-builtin"
            checked={formValues === undefined
              ? true
              : formValues.iconType !== "gravatar"}
          />
          <label for="gb-icon-type-builtin">Abi1 Icon verwenden:</label>
        </dt>
        <dd>
          <label for="gb-icon">Icon:</label>
          <select
            name="builtinIcon"
            id="gb-icon"
            value={formValues?.builtinIcon}
            >{
              Object.keys(iconsByCategory).map((categoryName) => (
                <optgroup label={categoryName}>
                  {iconsByCategory[categoryName]!.map((iconData) => (
                    <option value={iconData.filename}>{iconData.name}</option>
                  ))}
                </optgroup>
              ))
            }</select
          > / <button type="button">Icon Vorschau</button>
        </dd>

        <dt>
          <input
            type="radio"
            required
            name="iconType"
            value="gravatar"
            id="gb-icon-type-gravatar"
            checked={formValues?.iconType === "gravatar"}
          />
          <label for="gb-icon-type-gravatar"
            >Eigenes <a href="http://www.gravatar.com/">Gravatar</a> Icon verwenden:</label
          >
        </dt>
        <dd>
          <label for="gb-grav-email">Gravatar Email:</label>
          <input
            type="email"
            id="gb-grav-email"
            name="gravatarEmail"
            value={formValues?.gravatarEmail}
          />
        </dd>
      </dl>
    </dd>

    <dt><label for="gb-comment">Beitrag:</label></dt>
    <dd class="basic">
      <textarea rows="8" name="comment" id="gb-comment" required
        >{formValues?.comment}</textarea
      >
    </dd>
  </dl>
  <div>
    <button>Eintragen</button>
  </div>
</form>
